.shop-banner {
    background-image: url(../images/banner-shop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 496px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    img {
        display: inline;
        // width: 90px;
        height: 70%;
        position: relative;
        top: 10%;
        right: 5%;
    }

    @media (max-width: 767px) {
        height: 277px;
        
        img {
            height: 80%;
        }
    }
}

@media (max-width: 767px) {
    .banner {
        .container {
            padding: 0;
        }
    }
}

.shop-content {
    margin-top: 3rem;

    .list-head {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        background-color: $primary;

        border: 1px solid rgba(0, 0, 0, 0.125);
        border-color: $primary;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;

        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
    }

    .list-group-item {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: $primary;
    }
    .list-group-item:first-child {
        border-radius: 0;
    }

    .list-group-item.active {
        background-color: #EAF0ED;
        border-color: rgba(0, 0, 0, 0.125);
        color: $primary;
    }

    .list-group-item:hover {
        background-color: $third;
    }

    .page-link {
        padding: 20px 25px;
        font-size: 18px;
    }

    .list-pagination {
        display: flex;
        justify-content: flex-end
    }

    @media (max-width: 767px) {
        .container {
            padding: 0;
        }
        margin-top: 0;

        .list-head {
            border-radius: 0;
        }

        .list-pagination {
            justify-content: center;
        }
    }

}
